<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exam</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='exam_style.css') }}">
</head>
<body>

    <div class="container">
        {% if course is not none %}
          <h1>Practice Exam for {{ course }} Course.</h1>
        {% else %}
          <h1>Practice Exam</h1>
        {% endif %}
        

        <!-- This is where the generated html exam will appear -->
        {{ exam_problems_html|safe }}
    </div>

</body>
</html>