<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrueTest AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home_style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <a href="/" class="logo">TrueTest AI</a> <!-- Moved logo to the top left -->

    <div class="wrapper">
        <div class="container">
            <h1 class="title">Try <p>TrueTest AI</p></h1>

            <form action="/practice_exam" method="POST" class="form">
                <div id="course-form" class="form-group">
                    <label class="label" for="course">Course</label>
                    <input type="text" id="course" name="course" placeholder="Enter course name" required>
                </div>

                <div id="topic-form" class="form-group">
                    <label class="label" for="topic">Topic</label>
                    <input type="text" id="topic" name="topic" placeholder="Enter topic" required>
                </div>
                <div class="form-group">
                    <label for="num_questions">Number of Questions</label>
                    <input type="number" id="num_questions" name="num_questions" value="10" min="1" max="20" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="submit-button">Generate</button>
                </div>
                <div class="form-group">
                    <button type="submit" formaction="/generate_pdf" formmethod="GET" class="submit-button">Generate PDF</button>
                </div>
            </form>
            <form action="/file" method="POST" enctype="multipart/form-data" class="import-form" style="margin-top: 1.5rem;"> <!-- Reduced margin -->
                <div class="form-group">
                    <input type="file" name="import" id="file-input" style="width: 90%;" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="submit-button">Import</button>
                </div>
            </form>
        </div>
        <div class="left-section">
            <h2>Easy. Efficient. Effective</h2>
            <h3>Studying has never been easier.</h3>
            <ul>
                <li>Prompt Engineered to create perfect practice problem sets</li>
                <li>Import your favorite problem sets to get feedback</li>
                <li>Download your exams as PDFs for offline use</li>
                <li>Get instant feedback with detail</li>
                <li>Learn <i>exactly</i> what to focus on to pass your exams</li>
            </ul>
            <h4>TrueTest AI can prep you for any exam, at any level, at any time</h4>
            <footer>Made by <a href="https://github.com/fabian822">Fabian</a>,<a href="https://github.com/joshxviii"> Josh</a>, and <a href="https://github.com/AlgNinja"> Chris</a></footer>
        </div>
    </div>
</body>
</html>